<table style="width:100%;">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Должность</th>
			<th>Дата</th>
			<th>Регион</th>
			<th>Зарплата</th>
			<th>Детали<br/>(на Хабре)</th>
		</tr>
	</thead>
	<tbody>
	<% count = 0 %>
	<% @jobs.each do |row| %>
		<tr class="<% if count.odd? %><%= 'odd' %><% end %>">
			<% count += 1 %>
			<td class="gray center"><%= count %></td>
			<td><%= row['title'] %></td>
			<td class="center"><%= row['date'] %></td>
			<td><%= row['region'] %></td>
			<td class="center"><%= row['money_num'] %> (<%= row['money'] %>)</td>
			<td class="center"><a href="<%= row['url'] %>" target="_blank">View &#8634;</a></td>
		</tr>
	<% end %>
	</tbody>
</table>
