<table style="width:100%;">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Должность</th>
			<th>Дата</th>
			<th>Регион</th>
			<th>Зарплата</th>
			<th>Детали</th>
		</tr>
	</thead>
	<tbody>
	<% count = 0 %>
	<% @jobs.each do |job| %>
		<tr class="<% if count.odd? %><%= 'odd' %><% end %>">
			<% count += 1 %>
			<td class="gray center"><%= count %></td>
			<td><%= job['title'] %></td>
			<td class="center"><%= job['date'] %></td>
			<td><%= job['region'] %></td>
			<td class="center"><%= job['money_num'] %> (<%= job['money'] %>)</td>
			<td class="center"><a href="<%= job['url'] %>" target="_blank">Перейти&nbsp;&#8634;</a></td>
		</tr>
	<% end %>
	</tbody>
</table>
